version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: health-checkup-mongodb
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=health-checkup
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: health-checkup-redis
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  mongodb_data:
  redis_data:
